<p>Hallo <%= @resource.email %>!</p>

<p>Es wurde eine Passwort-Änderung angefordert. Sie können es mit dem folgenden Link ändern:</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn Sie kein neues Passwort angefordert haben, oder keine Passwort-Änderung wünschen, dann ignorieren Sie diese E-Mmail.</p>
